apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}
    spec:
      containers:
        - name: gateway
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: OPENSOUL_CONFIG_PATH
              value: /etc/opensoul/opensoul.json
          ports:
            - name: http
              containerPort: 8899
          volumeMounts:
            - name: config
              mountPath: /etc/opensoul
      volumes:
        - name: config
          configMap:
            name: {{ .Release.Name }}-config
